<app-hero-parent></app-hero-parent>
-------------------------------
<app-name-parent></app-name-parent>

-------------------------------
<app-version-parent></app-version-parent>

-------------------------------
<app-vote-taker-parent></app-vote-taker-parent>

-------------------------------
<app-countdown-parent></app-countdown-parent>

-------------------------------
<app-countdown-parent-vc></app-countdown-parent-vc>

-------------------------------
<app-mission-control></app-mission-control>
-------------------------------

<div>
  <my-button>BUTTON TEST</my-button>
</div>
-------------------------------
<div>
  <my-profile></my-profile>
</div>
-------------------------------
<div>
  <my-button class="success">Dashboard Button</my-button>
</div>

-------------------------------
<div>
  <my-button theme="danger">Themeable Button</my-button>
</div>



